/* ***** standard ***** */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
}

main{
    color: #ffffff;
    background: #111;
    flex: 1;
    justify-content: center;
    align-items: stretch;
}

/*******/

input[type="number"] {
    /*for absolutely positioning spinners*/
    position: relative;
    padding: 5px;
    padding-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* ***** flex classes ***** */

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;

    /* border: 2px dashed red; */
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;

    /* border: 2px dashed blue; */
}

.flex-grow {
    flex: 1;
}

.flex-center {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.flex-self-center {
    align-self: center;
}

.max-width {
    width: 100%;
}