/* ***** media queries ***** */

@media (width < 1000px) or (height < 600px) {
    header {
        position: relative;
        height: auto;
    }

    .viewport {
        padding-top: unset;
    }
}

/* ***** spacers ***** */

.spacer-1-top {
    margin-top: 1em;
}

.spacer-2-top {
    margin-top: 2em;
}

.spacer-3-top {
    margin-top: 3em;
}

.spacer-6-top {
    margin-top: 6em;
}

.spacer-xxl-bot {
    margin-bottom: 100vh;
}
