/* ***** standard ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    width: 100%;
    min-height: 100vh;
}

.html {
    background-color: #eee;
}

.body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;

    background-color: #fefefe;
    border: 1px solid #333;
}

/* ***** */

header,
footer {
    position: fixed;
    right: 0;
    width: 100%;
    height: inherit;
    padding: 1rem;
    background-color: #333;
    color: white;
}

header {
    top: 0;
}

main {
    flex: 1;
    padding: 100px 1rem;
}

footer {
    bottom: 0;
}

footer > p {
    text-align: center;
}
