/* ***** standard ***** */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    width: 100%;
    min-height: 100vh;
}

/* ***** */

header {
    position: fixed;
    right: 0;
    top: 0;
    width: -webkit-fill-available;
    height: inherit;
}

/*******/

input[type="number"] {
    /*for absolutely positioning spinners*/
    position: relative;
    padding: 5px;
    padding-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
